.header{
    background: #1f2937;
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
}

.header ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.first-section{
    background: #1f2937;
    display: flex;
    padding: 100px;
    gap: 20px;
}

.first-section h1{
    padding: 0px;
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.first-section p{
    font-size: 18px;
    color: #e5e7eb;
}

.first-section__info button{
    background: #3882f6;
    border-radius: 6px;
    border: 1px solid #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
    padding: 5px 15px ;
}

.first-section__image{
    background: #979899;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-shrink: 0;
}

.second-section{
    text-align: center;
    padding: 10px 100px 50px;
}

.second-section__items{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.second-section__item{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.second-section__item-image{
    border: 2px solid blue;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.second-section__item-text{
    margin: 0px;
}

.third-section{
    background: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    width: 700px;
}

.quote-text{
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote-author{
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-weight: bold;
}

.fourth-section{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-container{
    background: #3883f6;
    padding: 30px 60px;
    border-radius: 5px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.action-container h1{
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    color: #f9faf8;
    font-weight: bold;
}

.action-container p{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #f9faf8;
}

.action-container button{
    background: #3882f6;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    font-size: 12px;
    color: #e5e7eb;
    padding: 5px 15px ;
    flex-shrink: 0;
}